@import '../abstracts/variables';
@import '../abstracts/mixins';

.logo {
  width: 22%;
}

@include leq($tablet) {
  .logo {
    width: 60%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
  }
}
